/storage
/support
/test
/dist/test
/coverage/
/typings
/tsd.json
/tslint.json
/.editorconfig
/.gitattributes
/.gitignore
/.npmignore
/.coveralls.yml
/.travis.yml
/.vscode/
/todo.txt
/*.todo.txt
/npm-debug.log
